@charset "UTF-8";




:root{
    --cor0: black;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
}

    *{
    padding: px;
    margin: 0px
}

    html ,body{
        height: 100%;
        margin: 0;
    }

    body{
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: auto;
    }

    header{
     
        text-align: center;
        padding: 35px;
    }

    header h1 {
        color: white; 
        font-size: 2.8em;
    }

    header p{
        color: white;
    }
    
    header.img{
        background-image: url(fotos/fundo-ft.jpeg);
        background-position: center center;
        background-size: cover;
    }

    nav{
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.678), #DCBEE3, rgba(0, 0, 0, 0.678) );
        text-align: center;
    }

    nav a{
         text-decoration: none;
        color: white;
        font-size: 0.8em;
        padding: 5px;
    }

    main{
        flex: 1;
    }

    section{

    }

    footer{
        font-size: 0.8em ;
        text-align: center;
    }

    footer a:hover {
    text-decoration: underline;
    
}   
    footer a{
        text-decoration: none;
        color: rgb(235, 47, 103);
    }