@charset "UTF-8";

:root{
  --cor0: black;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
}

*{
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  margin: auto;
}

header{
    text-align: center;
    padding: 35px;
    background-image: url("../estilo/fotos/fundo-ft.jpeg");
    background-position: center center;
    background-size: cover;
}

header h1{
  color: white;
  font-size: 2.4em;
}

header p{
  color: white;
}


nav{
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.678),
    #DCBEE3,
    rgba(0, 0, 0, 0.678)
  );
  text-align: center;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 0.6em;
  padding: 5px;
}

main{
  min-height: 100vh;
  background-image: url();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  max-width: 800px;
  margin: auto;
}

main > section{
    text-align: center;
    color: rgba(128, 0, 128, 0.445);
}

.produtos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  padding: 10px;
}

.produto{
  background: #fff;
  border-radius: 8px;
  padding: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,.08);
}

.produto img{
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 6px;
}

.preco{
  font-size: 14px;
  font-weight: 700;
  color: #e60073;
}



footer{
  font-size: 0.8em;
  text-align: center;
}

footer a{
  text-decoration: none;
  color: rgb(235, 47, 103);
}

footer a:hover{
  text-decoration: underline;
}